div{
    color: rgb(189, 215, 226);
    background-color: rgb(10, 97, 68);
}
.myclass{
    color:red;
    background-color: aquamarine
    ;
}
#one{
    color: blueviolet;
}

#two{
    color: green;
}